@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background: linear-gradient(90deg, #ac2e73, #b220ba);
  font-family: 'Varela Round', sans-serif;
  color: #464646;
}

/* ================================ MAIN CONTENT ================================ */
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  box-shadow: 3px 3px 80px #3f3f3f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box-player0,
.box-player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 5.8rem 0;
  flex: 1 1 275px;
  text-align: center;
  background-color: #eeeeee5d;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.box-player0 {
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}
.box-player1 {
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}
.player {
  color: #464646b8;
  font-size: 2.5rem;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.score {
  font-size: 5rem;
  transition: color 0.5s;
  color: #ac2e73b6;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.box-accumulate,
.score {
  font-weight: 400;
}
.box-accumulate {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 210px;
  background-color: #ac2e7388;
  color: #eeeeeea4;
  text-align: center;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
}
.box-accumulate span:first-child {
  font-size: 1.2rem;
}
.box-accumulate .accumulate-score {
  font-size: 2.1rem;
}

/* ================================ WON THE GAME ================================ */
.container .won {
  background-color: #272727;
}
.won .player {
  color: #ac2e73;
}

/* ================================ BUTTONS ================================ */
.btn {
  position: absolute;
  left: 50%;
  width: 11.5rem;
  padding: 0.8rem;
  border: none;
  font-size: 1.1rem;
  color: #464646;
  box-shadow: 0 15px 10px #54545421;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.new-game {
  top: 30px;
}
.roll-dice {
  top: 90px;
}
.hold {
  top: 410px;
}
.btn:active {
  box-shadow: 0 10px 5px #5454542f;
}
.new-game:active {
  top: 32px;
}
.roll-dice:active {
  top: 92px;
}
.hold:active {
  top: 412px;
}
.btn:hover:disabled {
  color: #464646;
}
.hold:disabled,
.roll-dice:disabled {
  cursor: not-allowed;
  background-color: #eee;
}

/* ================================ ACTIVE MODE ================================ */
.active {
  font-weight: 600;
  background-color: #eeeeeeab;
}
.active .score {
  color: #ac2e73;
}
.active .box-accumulate {
  background-color: #ac2e73;
  color: #eee;
}

/* ================================ DICE ================================ */
.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 6rem;
  height: 6rem;
  background-color: #eee;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
  box-shadow: 5px 10px 60px #212121b8;
}
.bx {
  font-size: 9rem;
  color: #ac2e73;
}
.hidden {
  display: none;
}
@media (max-width: 900px) {
  .btn {
    width: 9rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 800px) {
  .btn {
    width: 7.5rem;
  }
  .new-game {
    top: 20px;
  }
  .roll-dice {
    top: 120px;
  }
  .hold {
    top: 380px;
  }
  .new-game:active {
    top: 22px;
  }
  .roll-dice:active {
    top: 122px;
  }
  .hold:active {
    top: 382px;
  }
  .box-player0,
  .box-player1 {
    padding: 4rem 0;
  }
  .dice {
    width: 4rem;
    height: 4rem;
    top: 180px;
  }
  .bx {
    font-size: 6rem;
  }
}
@media (max-width: 581px) {
  body {
    padding: 0 1rem;
  }
  .box-player0,
  .box-player1 {
    padding: 6rem 0;
  }
  .box-player0 {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }
  .box-player1 {
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
  }
  .btn {
    position: fixed;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .new-game {
    left: 20px;
  }
  .roll-dice {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .hold {
    left: initial;
    right: 20px;
  }
  .btn {
    top: 4px;
  }
  .btn:active {
    top: 6px;
  }
  .dice {
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .bx {
    font-size: 5rem;
  }
}
@media (max-width: 450px) {
  .box-player0,
  .box-player1 {
    padding: 2.5rem 0;
  }
  .btn {
    padding: 0.5rem;
    width: 5.7rem;
    font-size: 0.66rem;
  }
}
